<div class="template-rendering">

  <div class="data-container">
    <h3>Simple empty example</h3>

    <ng-template>
      <div>Some ng-template content</div>
    </ng-template>
  </div>


  <!--  We display an alternative loading template while waiting for the data to arrive from the backend.-->
  <div class="data-container">
    <h3>Data list</h3>

    <ul *ngIf="(randomDataWithDelay$ | async) as randomData else loading">
      <li *ngFor="let randomItem of randomData">
        {{ randomItem.animal }}, {{ randomItem.color }}, {{ randomItem.city }}
      </li>
    </ul>

    <ng-template #loading>
      <div>Loading...</div>
    </ng-template>
  </div>


  <!--  TODO: to say-->
  <!--  погана оптимізація-->
  <!--  семантично не потрібний елемент - вирішення проблеми, а не для структури сторінки-->


  <!--  This would not work!-->

  <!--  <div class="data-list"-->
  <!--       *ngIf="(randomData$ | async) as randomData2"-->
  <!--       *ngFor="let randomItem of randomData2">-->
  <!--    <div class="animal">-->
  <!--      {{ randomItem.animal }}-->
  <!--    </div>-->
  <!--  </div>-->



  <div class="data-container">
    <h3>Animals List: two structural directives + one container</h3>

    <div *ngIf="(randomData$ | async) as randomData2">
      <div *ngFor="let randomItem of randomData2">
        {{ randomItem.animal }}
      </div>
    </div>
  </div>



  <!--  In order to avoid having to create that extra div, we can instead use ng-container directive:-->
  <div class="data-container">
    <h3>Cars list: ng-container directive usage</h3>

    <ng-container *ngIf="(randomData$ | async) as randomData3">
      <div *ngFor="let randomItem of randomData3">
        {{ randomItem.car }}
      </div>
    </ng-container>
  </div>


  <div class="data-container">
    <h3>ngTemplateOutlet directive</h3>

    <ng-container *ngTemplateOutlet="loading"></ng-container>
    <ng-container *ngTemplateOutlet="outletDisplaying"></ng-container>

    <ng-template #outletDisplaying>
      We will show the template that were defined below
    </ng-template>
  </div>


  <div class="data-container">
    <h3>Template Context</h3>

    <ng-template #newDataTemplate let-dataCounter="estimate" let-otherContextProp="otherContextProperty">
      Outer context: {{ outerContext }}

      <div>Approximately {{dataCounter}} items ...</div>
      <div>One more property from the template context: {{ otherContextProp }}</div>
    </ng-template>

    <ng-container
      *ngTemplateOutlet="newDataTemplate;context:templateContext">
    </ng-container>
  </div>

<!--  {{ otherContextProp }}-->

  <div class="data-container">
    <h3>Template Context 1</h3>

    <app-show-content-projection>
      <div>A</div>
    </app-show-content-projection>
  </div>

  <div class="data-container">
    <h3>Template Context 2</h3>

    <app-show-content-projection>
      <div>B</div>
    </app-show-content-projection>
  </div>


  <div class="data-container">
    <h3>Template Context 2</h3>

    <app-show-content-projection>
      <div slot="header">This should be rendered in header selection of ng-content</div>
      <div>C</div>
      <div slot="body">This should be rendered in body selection of ng-content</div>
    </app-show-content-projection>
  </div>
</div>
