<div class="components-types" *ngIf="(filteredUsers$ | async) as users">
  <div class="components-types__header">
    <h4>Total Users: {{users?.length}}</h4>
    <app-filters (filterByGender)="applyFilterByGender($event)"></app-filters>
    <input class="components-types__search" type="text" [formControl]="searchInput" placeholder="Filter users by first name...">
  </div>

  <div class="cards-container">
    <app-user-card *ngFor="let user of users" [user]="user"></app-user-card>
  </div>

</div>

