<div class="rendering">
  <h3>Rendering without async pipe</h3>
  <app-data-table *ngIf="randomDataBad"
                  [data]="randomDataBad"
                  [columnTitles]="columnTitles"></app-data-table>




<!--TODO: to say-->
<!--  показти одну таблицю без асинк пайпа, чи є тут проблема?-->
<!--  якщо нема - попереключатись між табами - меморі ліки демонстрація-->
<!--  після цього додати відписку-->


  <!--  <h3>Rendering with async pipe</h3>-->
  <!--  <app-data-table *ngIf="(randomData$ | async) as randomData"-->
  <!--                  [data]="randomData"-->
  <!--                  [columnTitles]="columnTitles"></app-data-table>-->

<!-- TODO:-->
<!--  закривати вікна в редакторі після того як щось показала-->

<!--  TODO: delete unused onInits-->

</div>
