.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
  color: #465A6D;
  border-bottom: 1px solid #F8F8F8;
  background-color: #F1F1F1;
}
